body {
    padding: 0;
    margin: 0;
    font-family: New Tegomin;
}

header {
    background: palevioletred;
    padding: 0.7%;
    display: flex;

    justify-content: space-around;
}

header a {
    text-decoration: none;
}

.controles {
    width: 35%;
    /*display: grid;

    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;*/

    display: flex;
    

    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
    justify-content: space-around;
}

/*.controles a{
    padding-left: 5%;
    padding-right: 5%;
    border: 2px, solid, red;
}*/

header p {
    color: white;
    font-size: 1.8em;
    transition-property: border-bottom-color, border-bottom-width, font-size;
    transition-duration: 0ms, 800ms, 500ms;
}

header p:hover {
    font-size: 1.7em;
}

.logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;

    transition-property: all;
    transition-duration: 500ms;
}

.logo:hover {
    height: 120px;
    width: 120px;
}

.main {
    height: 630px;
    background-image: url("assets/images/bolo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;

}

.chamariz {
    width: 100%;
    text-align: center;
}

.titulo {
    font-family: New Tegomin;
    font-size: 5rem;
    text-transform: uppercase;
    color: whitesmoke;
    position: relative;
    bottom: 10%;
}

.cards {
    position: relative;
    bottom: 100px;
    display: flex;
    position: relative;

    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.card {
    border: 4px solid palevioletred;
    border-radius: 20px;
    height: 300px;
    width: 14%;

    transition-property: all;
    transition-duration: 500ms;
}

.card:hover {
    padding-bottom: 20px;
    background-color: palevioletred;
    color: white;
    height: 350px;
    width: 16%;
    font-size: 1.4em;
}

.card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards p {
    position: relative;
    text-align: center;
    font-size: 1.4em;
}

.title_galery h1 {
    text-align: center;
    font-size: 4rem;
}

.galery img {
    position: relative;
    border-radius: 50%;
}

.galery {
    display: grid;
    grid-template: auto auto / auto auto auto;
    justify-content: center;
    grid-gap: 1%;
}

.social {
    padding-top: 3%;
    display: flex;

    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.insta {
    border: 2px solid #C13584;
    border-radius: 10px;
    padding: 0.6%;
    text-decoration: none;
    font-size: 1.2em;
    margin: 1%;
    text-decoration: none;
    color: #C13584;

    transition-property: background-color, color, padding;
    transition-duration: 500ms;
}

.insta p {
    display: inline-block;
    text-align: center;
}

.insta:hover {
    background-color: #C13584;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
}

.insta img {
    position: relative;
    top: 12%;
}

.depoimentos {
    padding-top: 4%;
    padding-bottom: 3%;
    background-color: purple;
}

.cards_depoimentos {
    position: relative;
    bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.depoimentos h1 {
    position: relative;
    bottom: 50px;
    font-size: 4rem;
    text-align: center;
    color: white;
}

.depoimento {
    border: 2px solid palevioletred;
    height: 390px;
    width: 300px;
    border-radius: 10px;
}

.card_nome {
    text-align: center;
    color: palevioletred;
    font-size: 1.4em;
}

.depoimento p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
}

.aspas {
    border: 2px solid palevioletred;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 30px;
    background-color: palevioletred;
    width: 20%;
    height: 15%;
}

footer {
    color: white;
    background: palevioletred;
    padding: 1%;
    text-align: center;
}

@font-face {
    font-family: New Tegomin;
    src: url(assets/font/NewTegomin-Regular.ttf);
}

@media screen and (max-width: 1023px) {

    .container{
        width: 100%;
    }

    header {
        justify-content: space-evenly;
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .controles {
        width: 100%;

        /*display: grid;
    
        grid-template-columns: auto auto auto;
        grid-column-gap: 30px;*/

    }

    /*.controles a {
        padding-left: 5%;
        padding-right: 5%;
    }*/     
    
    header p {
        font-size: 1.4em;
    }
    
    header p:hover {
        font-size: 1.2em;
    }
    
    .logo {
        height: 50px;
        width: 50px;
    }
    
    .logo:hover {
        height: 80px;
        width: 80px;
    }

    .main {
        height: 630px;
    
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    
    }
    
    .titulo {
        font-size: 2rem;
        bottom: 3%;
    }
    
    .cards {
        bottom: 100px;
        display: flex;
    }
    
    .card {
        height: 250px;
        width: 25%;
    }
    
    .card:hover {
        height: 280px;
        width: 35%;
        font-size: 1.3em;
    }
    
    .card img {

        height: 55px;
        width: 55px;
    }
    
    .cards p {
        font-size: 1em;
    }

    .title_galery h1 {
        font-size: 2rem;
    }
    
    .galery img {
        width: 150px;
        height: 100px;
        border-radius: 50%;
    }
    
    .galery {
        grid-template: auto auto auto / auto auto;
        grid-gap: 1.5%;
    }
    
    .social {
        padding-top: 3%;
        display: flex;
    
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
    
    .insta {
        padding: 0.7%;
        font-size: 0.8em;
    }
    
    .insta p {
        font-size: 1.2em;
    }
    
    .insta:hover {
        padding-left: 3%;
        padding-right: 3%;
    }
    
    .insta img {
        position: relative;
        top: 12%;
    }
}

